<nav ng-controller="NavCtrl">
  <div class="nav-wrapper blue accent-2">
      <a href="#/home" class="brand-logo">Brian M. Doane</a>
      <ul class="right hide-on-med-and-down">
        <!-- All spans are showing appropriate links per view -->
        <!-- <span ng-show="myArtistsLink()"> -->
          <li><a ng-href="#">About Me</a></li>
        <!-- </span> -->
        <!-- <span ng-show="searchArtLink()"> -->
          <li><a ng-href="https://www.linkedin.com/in/brianmdoane">LinkedIn</a></li>
        <!-- </span> -->
        <!-- <span ng-show="viewArtLinks()"> -->
          <li><a ng-href="https://github.com/bmdoane">Github</a></li>
        <!-- </span>   -->
      </ul>  
    </div>
  </div>
</nav>